.container {
  @include desktop(
    (
      'padding': 20px 0,
      'margin-bottom': 20px,

      'background': #fff,
    )
  );

  @include mobile(
    (
      'margin': 20px,
    )
  );
}

.row {
  @include desktop(
    (
      'display': flex,
      'align-items': center,
    )
  );

  @include mobile(
    (
      'display': block,
    )
  );
}

.logo {
  @include desktop(
    (
      'width': 130px,
    )
  );

  @include mobile(
    (
      'width': 120px,
      'margin': 0 auto,
    )
  );
}

.descriptor {
  @include desktop(
    (
      'margin-left': 40px,
      'margin-right': auto,

      'font-size': 12px,
    )
  );

  @include mobile(
    (
      'display': none,
    )
  );
}

.manager {
  @include desktop(
    (
      'font-weight': 700,
    )
  );

  @include mobile(
    (
      'margin-top': 10px,

      'text-align': center,
    )
  );

  a {
    color: inherit;
  }

  &:before {
    @include desktop(
      (
        'content': 'Ваш менеджер: ',

        'display': block,
        'margin-bottom': 6px,

        'font-size': 14px,
        'font-weight': 400,
      )
    );

    @include mobile(
      (
        'margin-bottom': 2px,
      )
    );
  }
}

.social {
  @include desktop(
    (
      'margin-left': 20px,
    )
  );

  @include mobile(
    (
      'margin': 10px 0,
    )
  );

  &__row {
    @include desktop(
      (
        'display': flex,
        'margin': 0 -4px,
      )
    );

    @include mobile(
      (
        'justify-content': center,
      )
    );
  }

  &__item {
    @include desktop(
      (
        'margin': 0 4px,

        'width': 40px,
        'height': 40px,

        'border-radius': 50%,

        'text-align': center,
      )
    );

    svg {
      @include desktop(
        (
          'width': 14px,
          'height': 100%,

          'fill': #fff,
        )
      );
    }

    &_whatsapp {
      background: get-theme-gradient('whatsapp');
    }

    &_telegram {
      background: get-theme-gradient('telegram');
    }

    &_viber {
      background: get-theme-gradient('viber');
    }
  }
}

.callback {
  @include desktop(
    (
      'margin-left': 15px,
      'padding': 0,

      'width': 150px,
      'height': 40px,

      'font-size': 12px,
    )
  );
}
