.droplist {
  @include desktop(
    (
      'position': absolute,
      'z-index': 5,

      'padding': 10px 0,
      'max-height': 250px,
      'overflow-y': auto,

      'background': #fff,
      'box-shadow': $droplist-shadow,
    )
  );

  &:global:not(.visible) {
    height: 0;
    padding: 0;
  }

  &__item {
    @include desktop(
      (
        'padding': 6px 16px,

        'font-size': 12px,

        'cursor': pointer,
        'transition': $transition-time,
      )
    );

    a {
      color: inherit;
    }

    &:hover,
    &.selected {
      background: get-theme-color('bg');
    }

    &_red {
      color: get-theme-color('error');
    }
  }
}
