input {
  border: none;
  box-shadow: none;
  outline: none;
}

.input {
  @include desktop(
    (
      'display': block,
    )
  );

  &__top {
    @include desktop(
      (
        'margin-bottom': 6px,
      )
    );
  }

  &__top-row {
    @include desktop(
      (
        'display': flex,
      )
    );
  }

  &__bottom {
    @include desktop(
      (
        'margin-top': 6px,
      )
    );
  }

  &__bottom-row {
    @include desktop(
      (
        'display': flex,
      )
    );
  }

  &__error {
    @include desktop(
      (
        'margin-left': auto,

        'font-size': 14px,
        'color': get-theme-color('error'),
      )
    );
  }

  &__label {
    @include desktop(
      (
        'font-size': 14px,
      )
    );

    &_big {
      @include h3;
    }
  }

  &__fluid {
    @include desktop(
      (
        'display': block,

        'width': 100%,
        'height': 60px,
        'padding': 0 20px,

        'background': get-theme-color('input'),
        'border-radius': $input-radius,

        'text-align': inherit,
      )
    );
  }

  &__action {
    @include link();

    @include desktop(
      (
        'font-size': 12px,
      )
    );
  }
}
