.admin-data {
  &__table {
    @include desktop(
      (
        'margin-bottom': 32px,
        'padding-bottom': 32px,
        'border-bottom': 1px solid get-theme-color('bg'),
      )
    );

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  &__add-link {
    @include link();

    @include desktop(
      (
        'position': absolute,

        'top': 40px,
        'right': 40px,
      )
    );
  }
}
