.auth {
  @include desktop(
    (
      'min-height': 100vh,

      'display': flex,
      'align-items': center,
      'justify-content': center,
    )
  );

  &__card {
    @include card;

    width: 370px;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
  }

  &__form {
    margin-top: 24px;
  }

  &__input {
    margin-top: 16px;
  }

  &__button {
    margin-top: 24px;
  }
}
