.card {
  @include card;

  @include desktop(
    (
      'margin-top': 20px,
    )
  );
}

.title {
  @include h2;

  @include desktop(
    (
      'margin-bottom': 16px,
    )
  );
}

.socialRow {
  @include desktop(
    (
      'display': flex,
      'margin': 0 -16px,
    )
  );
}

.socialItem {
  @include desktop(
    (
      'display': flex,
      'align-items': center,

      'margin': 0 16px,

      'border-radius': 50%,

      'text-align': center,
      'color': inherit,
    )
  );
}
.socialItemText {
  @include desktop(
    (
      'padding-bottom': 2px,
      'border-bottom': 1px solid rgba(get-theme-color('default'), 0.2),
      'font-size': 12px,
    )
  );
}

.socialIcon {
  @include desktop(
    (
      'flex-shrink': 0,
      'margin-right': 8px,

      'width': 40px,
      'height': 40px,

      'border-radius': 50%,

      'text-align': center,
    )
  );

  svg {
    @include desktop(
      (
        'width': 14px,
        'height': 100%,

        'fill': #fff,
      )
    );
  }

  &_whatsapp {
    background: get-theme-gradient('whatsapp');
  }

  &_telegram {
    background: get-theme-gradient('telegram');
  }

  &_viber {
    background: get-theme-gradient('viber');
  }
}
